div.lesson-four-task-one button.btn:hover {
    color: red;
    background-color: yellow;
}

a:hover ~h1 {
    background: green;
}

div.lesson-four-task-three a:visited {
    color: yellow;
}

div#sidebar a:link {
    color: red;
}

div.lesson-four-task-five button.btn:active {
    background-color: blue;
}

div.lesson-four-task-six button.btn:focus {
    color: orange;
    background-color: orange;
}

div.lesson-four-task-seven div#target:target {
    color: white;
    background-color: green;
}

div.lesson-four-task-eight input[type="checkbox"]:checked ~ div#target {
    color: white;
    background: blue;
}

div.lesson-four-task-nine p:lang(uk) {
    color: blue;
}

div.lesson-four-task-ten input:enabled {
    color: red;
    background-color: yellow;
}

div.lesson-four-task-eleven input:disabled {
        background-color: yellow;
}

div.lesson-four-task-twelve input:read-write {
        background-color: yellow;
}

div.lesson-four-task-thirteen input:read-only {
    background-color: yellow;
}

div.lesson-four-task-fourteen input:valid {
    background-color: green;
}

div.lesson-four-task-fourteen input:invalid {
    background-color: red;
}

div.lesson-four-task-fifteen textarea:optional {
    background: red;
}

div.lesson-four-task-sixteen input:out-of-range {
    color: red;
}

div.lesson-four-task-seventeen input:in-range {
    color: red;
}

div.lesson-four-task-eighteen input:placeholder-shown {
    background: red;
}
div.lesson-four-task-nineteen button:focus-within {
    color: white;
    background: yellow;
}

div.lesson-four-task-twenty input:invalid {
    background: red;
}